# Client Environment Variables
VITE_API_BASE_URL=http://localhost:5000/api

# File Upload Validation (Must be kept manually in sync with server/.env.example's MAX_FILE_SIZE_MB)
VITE_MAX_FILE_SIZE_MB=5
